NODE_ENV="development" || "production"
APP_NAME="pufy"
APP_HOST="http://localhost"
APP_URL_PREFIX="v1"
APP_PORT=4000
JWT_KEY=
HOST_SITE="http://localhost:3000"
SENDGRID_API_KEY="API_KEY"

#
# Database (Typeorm) Connection
# ref:http://typeorm.io/#/using-ormconfig
#
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_DATABASE=
TYPEORM_SCHEMA=public
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=modules/**/*.entity{.ts,.js}